{% extends 'base.html' %}
{% load humanize %}

{% block main %}
<div class="welcome">
    <h1 class="title">microhr</h1>
    <p class="subtitle">最小限のコードで採用を！</p>
</div>
{% if works %}
<table class="table">
    <thead>
        <tr>
            <th>タイトル</th>
            <th>会社名</th>
            <th>お給料</th>
        </tr>
    </thead>
    <tbody>
    {% for work in works %}
        <tr>
            <th><a href="{% url 'work_detail' work.id %}">{{ work.title }}</a></th>
            <th>{{ work.company.name }}</th>
            <th>{{ work.salary_min | intcomma}}万円~{{ work.salary_max | intcomma }}万円</th>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
求人は登録されていません。
{% endif%}
{% endblock %}
