{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load humanize %}

{% block main %}
<h1>{{ work.title }}</h1>
<table class="table">
    <tr>
        <td>会社名</td>
        <td>{{ work.company.username }}</td>
    </tr>
    <tr>
        <td>給与</td>
        <td>{{ work.salary_min | intcomma }} ~ {{ work.salary_max | intcomma }}円</td>
    </tr>
    <tr>
        <td></td>
        <td>
            {{ work.text | linebreaksbr}}
        </td>
    </tr>
    <tr>
        <td>求人登録日</td>
        <td>{{ work.created_at | date:"Y年n月j日 h:i:s"}}</td>
    </tr>
    <tr>
        <td>最終更新日</td>
        <td>{{work.updated_at | date:"Y年n月j日 h:i:s"}}</td>
    </tr>
</table>
{% endblock %}