{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block main %}
<h1>{{ work.title }}</h1>
<table class="table">
    <tr>
        <td>会社名</td>
        <td>{{ work.company.username }}</td>
    </tr>
    <tr>
        <td>給与</td>
        <td>{{ work.salary_min}} ~ {{ work.salary_max }}円</td>
    </tr>
    <tr>
        <td></td>
        <td>
            {{ work.text | linebreaksbr}}
        </td>
    </tr>
    <tr>
        <td>求人登録日</td>
        <td>{{ work.created_at}}</td>
    </tr>
    <tr>
        <td>最終更新日</td>
        <td>{{work.updated_at}}</td>
    </tr>
</table>
{% endblock %}