nav.bg-dark {
    background-color: #DD3311 !important;
}

body.company nav.bg-dark {
    background-color: #5EC9C7 !important;
}


main {
    padding: 2rem 0;
}

.welcome {
    padding: 3rem 0;
    margin-bottom: 2rem;
    background-color: #FFF3F3 ;
    align-items: center;
    display: flex;
    flex-direction: column;
}

body.company .welcome {
    background-color: rgba(88, 201, 199, 0.2) ;
}
