{% extends 'base.html' %}
{% load humanize %}

{% block main %}
<div class="welcome">
    <h1 class="title">microhr</h1>
    <p class="subtitle">最小限のコードで採用を！</p>
</div>
{% if applicants %}
<table class="table">
    <thead>
        <tr>
            <th>仕事内容</th>
            <th>応募者名</th>
        </tr>
    </thead>
    <tbody>
    {% for applicant in applicants %}
        <tr>
            <td>{{ applicant.work.title}}</td>
            <td>{{ applicant.user.name}}</td>
            <td>
                <a class="col-6 btn btn-primary" href="#">評価を入力</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
応募者はいません。
{% endif%}
{% endblock %}