{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load humanize %}

{% block main %}
<h1>{{ work.title }}</h1>
<table class="table">
    <tr>
        <td>会社名</td>
        <td>{{ work.company.name }}</td>
    </tr>
    <tr>
        <td>給与</td>
        <td>{{ work.salary_min | intcomma }}万円 ~ {{ work.salary_max | intcomma }}万円</td>
    </tr>
    <tr>
        <td></td>
        <td>
            {{ work.text | linebreaksbr}}
        </td>
    </tr>
    <tr>
        <td>求人登録日</td>
        <td>{{ work.created_at | date:"Y年n月j日 H:i:s"}}</td>
    </tr>
    <tr>
        <td>最終更新日</td>
        <td>{{work.updated_at | date:"Y年n月j日 H:i:s"}}</td>
    </tr>
</table>

<div class="row align-items-start">
    {% if user.is_authenticated and user.is_company and user == work.company %}
    <a class="col btn btn-primary" href="{% url 'work_edit' work.id %}">編集する</a>
    
    <form  class="col" action="{% url 'work_delete' work.id %}" method="POST">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="削除する">
    </form>
    
    {% elif not user.is_company %}
    <a class="btn btn-primary">応募する</a>
    {% endif %}
</div>
{% endblock %}