{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load humanize %}

{% block main %}
<h1>{{ work.title }}</h1>
<table class="table">
    <tr>
        <td>会社名</td>
        <td>{{ work.company.name }}</td>
    </tr>
    <tr>
        <td>給与</td>
        <td>{{ work.salary_min | intcomma }}万円 ~ {{ work.salary_max | intcomma }}万円</td>
    </tr>
    <tr>
        <td></td>
        <td>
            {{ work.text | linebreaksbr}}
        </td>
    </tr>
    <tr>
        <td>求人登録日</td>
        <td>{{ work.created_at | date:"Y年n月j日 H:i:s"}}</td>
    </tr>
    <tr>
        <td>最終更新日</td>
        <td>{{work.updated_at | date:"Y年n月j日 H:i:s"}}</td>
    </tr>
</table>

<div class="row align-items-center">
    {% if user.is_authenticated and user.is_company and user == work.company %}
    <a type="button" class="col-2 btn btn-primary" href="{% url 'work_edit' work.id %}">編集する</a>

    <button type="button" class="col-2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">削除する</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
        本当に削除しますか？
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="{% url 'work_delete' work.id %}" method="POST">
            {% csrf_token %}
            <input class="col btn btn-primary" type="submit" value="削除する">
        </form>
        </div>
        </div>
        </div>
    </div>
    
    {% elif not user.is_company %}
        {% if not is_already_applied %}
        <button type="button" class="col-2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#application">応募する</button>
        {% else %}
        <button type="button" class="col-2 btn btn-primary">応募済み</button>
        {% endif %}

    <div class="modal fade" id="application" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
        こちらの求人に応募します。よろしいですか？
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="{% url 'work_apply' work.id %}" method="POST">
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="応募する">
        </form>
        </div>
        </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}