{% load static %}
{% load django_bootstrap5 %}
<html>
    <head>
        <meta charset="utf-8">
        <title>microhr</title>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block extraheader%}{% endblock %}
    </head>
    <body class="{%if user.is_company %}company{% endif %}">
        <nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark">
            <div class="container justify-content-between">
                <a href="{% url 'home' %}" class="navbar-brand">HOME</a>
                {% if user.is_authenticated and user.is_company %}
                <a href="{% url 'work_new' %}" class="navbar-brand">求人登録</a>
                <a href="#" class="navbar-brand">選考</a>
                {% endif %}
                {% if user.is_authenticated and user.is_worker %}
                <a href="{% url 'resume' %}" class="navbar-brand">履歴書編集</a>
                <a href="{% url 'work_showApplication' %}" class="navbar-brand">応募一覧</a>
                {% endif %}

                <ul class="navbar-nav mr-md-2">
                    {% if user.is_authenticated%}
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">ログアウト({{user.username}})</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">ログイン</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">ユーザー登録</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <main>
            <div class="container">
                {% block main %}{% endblock %}
            </div>
        </main>
    </body>
</html>